@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
}

.container {
  width: 300px;
  height: 400px;
}

.card-header {
  background: gray;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  height: 20%;
}

.card-body {
  background: blue;
  text-align: center;
  width: 100%;
  height: 60%;
}

.card-footer {
  background: yellow;
  text-align: right;
  width: 100%;
  height: 20%;
}

#numb {
  margin-top: 30%;
}
/*
    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
